{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/typescript"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3",
      "rules": {
        "a11y-missing-attribute": "off",
        "import/first": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-mutable-exports": "off",
        "no-multiple-empty-lines": ["error", { "max": 2 }]
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "extraFileExtensions": [".svelte"],
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "svelte3",
    "@typescript-eslint"
  ],
  "settings": {
    "svelte3/typescript": true
  }
}
