@charset "utf-8";
@import "./variables";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/icon";
@import "bulma/sass/elements/other";
@import "bulma/sass/elements/table";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
@import "bulma/sass/form/shared";
@import "bulma/sass/form/tools";
@import "bulma/sass/form/input-textarea";
@import "bulma/sass/components/message";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/panel";
@import "bulma/sass/components/pagination";
@import "bulma/sass/grid/columns";
@import "bulma/sass/helpers/_all";

:global(body) {
    margin: 0;
    padding: $column-gap;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
}

table {
  box-shadow: $shadow;
}
